*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

header,
.hero,
.products {
    width: 100%;
}

.hero,
.products {
    text-align: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px black;
    padding: 10px 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    position: relative; /*Allows wrapping on small screen*/
}

/* Logo */
.logo img {
    width: 60px;
}

/* NAVIGATION MENU */

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: black;
}

/*SEARCH BAR*/

.search-bar {
    display: flex;
    gap: 8px;
}

.search-bar input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
}

.search-bar button {
    padding: 5px 12px;
    border-radius:5px ;
    border: none;
    cursor: pointer;
    color: white;
    background-color:#007bff;
    font-weight: 500px;
}

.search-bar button:hover {
    background-color:#0056b3;;
}

/* CART ICON */
.cart {
    position: relative;
    display: flex;
    align-items: center;
}

.cart img {
    width: 30px;
    cursor: pointer;
}

.cat-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
}

/* HAMBURGER MENU*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 20px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

@media (max-width: 768px) {

     header {
        justify-content: flex-start; /* keep logo on left */
        position: relative;
    }

    .nav-menu {
        display: none; /*hide desktop menu*/
        position: absolute;
        top: 120px;
        right: 20px;
        width: 40%;
        background: black;
        flex-direction: column;
        padding: 10px;
        border-radius: 6px;
        text-align: center;
        box-shadow: 0 4px 6px black;
        z-index: 100;
    }

    .nav-menu.active {
        display: flex;
        color: white;
    }

    .nav-menu ul{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin: 0;
    }

    .nav-menu a:hover {
        color: white;
        background-color: #111;
    }
    
    .menu li {
        width: 50%;
    }

    .hamburger {
        display: flex; /*Show hamburger on mobile*/
        position: absolute;
        right: 20px;
        top: 50%;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 200;
    }

    .search-bar {
        display: none; /*hide search bar on mobile for now*/
    }
    
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: black;
    }

    .cart {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 300;
        background-color: #ffffff;
        padding: 8px 10px;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }
}

/* HERO SECTION */
.hero {
    height: auto;
    min-height: 70vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../assets/hero-bg.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    color: white;
}

.hero-content {
    color: white;
    max-width: 700%;
    z-index: 10;
    position: relative;
}

.hero-content h1 {
    font-size: 120px;
    margin-bottom: 20px;
    font-weight: bolder;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.cta-btn {
    padding: 30px 30px;
    font-size: 15px;
    background-color:#007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease, transofrm 0.3sease;
}

.cta-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeUp {
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 1;
    animation: fadeUp 1s ease forwards;
}

.delay {
    animation: 0.3s;
}
.delay-2 {
    animation-delay: 0.5s;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 28px;
        line-height: 1.2;
    }
    .hero-content p {
        font-size: 14px;
    }
    .cta-btn {
        width: auto;
        padding: 10px 24px;
        margin-top: 16px;
    }
}

/*PRODUCTS SECTION */
.products {
    padding: 40px 20px;
    text-align: center;
}

.products h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

/* PRODUCTS GRID */
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Desktop*/
    gap: 26px;
}

/* PRODUCT CARD */
.product-card {
    background-color: #111;
    padding: 15px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px black;
}

/* PRODUCT IMAGE */
.product-card img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px 0 15px;
}

.product-card .price {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px 0 15px;
}

/* BUTTON */
.product-card .btn {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #007bff;
    font-weight: 400;
    padding: 8px 216px;
    cursor: pointer;
}

.product-card .btn:hover {
    background-color: #0056b3;
    color: white;
}

/* TABLE VIEW */
@media (max-width: 1023px) {
    .products-grid {
        grid-template-columns: repeat(2, 2fr);
    }
}

/* MOBILE VIEW */
@media (max-width: 767px) {
    .products-grid {
        grid-template-columns: 2fr;
    }
}