body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px black;
    padding: 10px 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    position: relative; /*Allows wrapping on small screen*/
}

/* Logo */
.logo img {
    width: 60px;
}

/* NAVIGATION MENU */

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: black;
}

/*SEARCH BAR*/

.search-bar {
    display: flex;
    gap: 8px;
}

.search-bar input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
}

.search-bar button {
    padding: 5px;
    border-radius:5px ;
    border: none;
    cursor: pointer;
    color: white;
    background-color:#007bff;
    font-weight: 500px;
}

.search-bar button:hover {
    background-color:#0056b3;;
}

/* CART ICON */
.cart {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.cart img {
    width: 30px;
    cursor: pointer;
    margin-right: auto;
}

.cat-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
}

/* HAMBURGER MENU*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 20px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

@media (max-width: 768px) {

     header {
        justify-content: flex-start; /* keep logo on left */
        position: relative;
    }

    .nav-menu {
        display: none; /*hide desktop menu*/
        position: absolute;
        top: 120px;
        right: 20px;
        width: 40%;
        background: black;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 4px 6px black;
        z-index: 100;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu ul{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin: 0;
    }
    
    .menu li {
        width: 50%;
    }

    .hamburger {
        display: flex; /*Show hamburger on mobile*/
        position: absolute;
        right: 20px;
        top: 50%;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 200;
    }

    .search-bar {
        display: none; /*hide search bar on mobile for now*/
    }
    
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: black;
    }

    .cart {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 300;
        background-color: #ffffff;
        padding: 8px 10px;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }
}

/* HERO SECTION */
.hero {
    height: 80vh;
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ),

    url("../assets/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero-content {
    color: white;
    max-width: 700%;
    z-index: 10;
    position: relative;
}

.hero-content h1 {
    font-size: 120px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.cta-btn {
    padding: 14px 32px;
    font-size: 15px;
    background-color:#007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 300px;
    transition: background-color 0.5s ease, transofrm 0.3sease;
}

.cta-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeUp {
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 1;
    animation: fadeUp 1s ease forwards;
}

.delay {
    animation: 0.3s;
}
.delay-2 {
    animation-delay: 0.5s;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 32px;
    }
    .hero-content p {
        font-size: 16px;
    }
    .cta-btn {
        width: 100%;
    }
}